.light{
    --background: #eeeeee;
    --white: #FFF;
    --darkgray: #29292e;
    --details: #e2e2e2;
    --text: #29292e;
    --answerd: #d9d8da;
    --highlight: #f4ecfd; 
}

.dark {
    --background: #1b1829;
    --white: #080510;
    --darkgray: #dbdbf0;
    --details: #040208;
    --text: #d3d3e2;
    --answerd: #161320;
    --highlight: #190629; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: #29292e;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}